APP_NAME=Bright Assistant
VERSION=0.2.0
DEBUG=True

OPENAI_API_KEY=your-api-key

AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=eu-central-1

DATABASE_URL=postgresql://username:password@localhost:5432/bright_assistant